*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cont{
    background-color: lightblue;
    padding: 50px;
    border-radius: 25px;
    box-shadow: 2px 2px 20px black;
}

.cont{
    animation: effetto 2s linear;
}

@keyframes effetto {
    0%{
        scale: 0;
        rotate: 0;
    }

    100%{
        scale: 1;
        rotate: 360deg;
    }
}

.style{
    color: bisque;
    font-size: 4rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 2px black;
}

.pswrd{
    font-size: 3rem;
}

